.section-fights {
    width: 500px;
    height: 450px;
    background-color: #efefef;
    position: absolute;
    z-index: 2;
    left: 180px;
    top: 60px;
    border-radius: 30px;
    padding: 10px;
}
.section-origin-and-destination {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.section-promotion-passengers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}